/*****************************************
* FOOTER COMPONENT STYLES
*****************************************/

@use "../utils/" as *;

.footer {
    background-color: $color-tertiary;
    color: $color-secondary;
    padding: 2em 0;
}
