/*****************************************
* FOOTER COMPONENT STYLES
*****************************************/

@use "../utils/" as *;

.footer {
    background-color: #000000;
    color: #ffffff;
    padding: 2em;
}
