/*****************************************
* FOOTER COMPONENT STYLES
*****************************************/

@use "../utils/" as *;

.footer {
    padding: 2em 0;
    background-color: $color-tertiary;
    color: $color-secondary;
    height: 20rem;

    @include for-mobile {
        height: 15rem;
    }

    &-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 2em;
    }

    &-logo {
        width: 12rem;
        margin-top: 1em;

        @include for-mobile {
            width: 10rem;
        }
    }

    &-text {
        font-weight: 500;
        font-size: 2.4rem;

        @include for-mobile {
            font-size: 1.4rem;
            margin-bottom: 1em;
        }
    }
}
