/*****************************************
* HEADER COMPONENT STYLES
*****************************************/

@use "../utils/" as *;

.header {
    padding: 2em 0;
    color: $color-primary;
    height: 15rem;

    @include for-mobile {
        height: 10rem;
    }

    &-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        column-gap: 3em;
        list-style: none;

        @include for-mobile {
            column-gap: 1em;
        }

        &-item {
            text-decoration: none;
            font-weight: 500;
            font-size: 2.4rem;

            @include for-mobile {
                font-size: 1.6rem;
            }

            &.active {
                text-decoration: underline;
            }

            &:visited {
                color: $color-primary;
            }
        }
    }

    &-logo {
        width: 22rem;

        @include for-mobile {
            width: 11rem;
        }
    }
}
