/*****************************************
* RENTAL PAGE SPECIFIC STYLES
*****************************************/

@use "../utils/" as *;

.rental {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &-collapses {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        text-align: center;
        width: 100%;
        margin: 2em 0;

        @include for-mobile {
            flex-direction: column;
            justify-content: start;
            align-items: center;
        }

        &-item {
            display: block;
            width: 48%;

            @include for-mobile {
                width: 100%;
            }
        }
    }
}
