/*****************************************
* GLOBAL SCOPE STYLES
*****************************************/

@use "../utils/" as *;

body {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
}

.container {
    width: 90%;
    max-width: 1920px;
    margin: 0 auto;
}

.main {
    height: calc(100% - 20rem - 15rem);

    @include for-mobile {
        height: calc(100% - 15rem - 10rem);
    }
}

#root {
    height: 100%;
}
